* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #e2e2e2;
}
.container {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 0.75fr;
  grid-template-areas:
    "header header"
    "section aside"
    "article article"
    "footer footer";
}
header {
  margin-top: 5rem;
  grid-area: header;
  text-align: center;
}
nav {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  z-index: 1;
}
.navbar {
  display: inline;
}
ul {
  background-color: rgba(100, 100, 100, 0.75);
  padding: 1em;
}
li a {
  padding: 1em;
  color: white;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li a:hover:not(.active) {
  background-color: darkgreen;
}
li .active {
  background-color: #04aa6d;
}
.navbar a {
  text-decoration: none;
  opacity: 100%;
}
section {
  grid-area: section;
  font-size: 50px;
}
aside {
  text-align: center;
  grid-area: aside;
}
article {
  grid-area: article;
  font-size: 50px;
}
footer {
  grid-area: footer;
  text-align: center;
  font-family: "Roboto";
}
#header-1 {
  font-family: "Atkinson Hyperlegible";
  font-size: 50px;
  line-height: 2em;
}
#header-2 {
  font-family: "Style Script";
  font-weight: bold;
  font-size: 100px;
  line-height: 0.75em;
}
#header-3 {
  font-family: "Arial";
  font-size: 25px;
}
#section-1,
#article-1 {
  margin-top: 3rem;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 50px;
  line-height: 0.75em;
}
#section-2,
#article-2 {
  margin-top: 3rem;
  font-family: "Teko";
  font-size: 25px;
  text-align: justify;
}
#article-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
#rivaldo {
  margin-top: 3rem;
  width: 50%;
  min-width: 250px;
  max-width: 500px;
  border-radius: 1em;
  box-shadow: 3px 3px 10px -3px rgb(0 0 0 / 50%);
}
.container-2 {
  display: flex;
  justify-content: center;
  column-gap: 1em;
}
.column-left {
  float: "left";
}
.column-right {
  float: "right";
}
#c1,
#c2 {
  width: 80%;
  min-width: 250px;
  max-width: 500px;
  box-shadow: 3px 3px 10px -3px rgb(0 0 0 / 50%);
}
@media screen and (max-width: 850px) {
  header {
    padding: auto 1rem;
    grid-area: header;
    text-align: center;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "section"
      "aside"
      "article"
      "footer";
  }
  .container-2 {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
  }
}
